
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    /*font-size: 16px;*/
    /*min-height: 500px;*/
    /*min-width: 480px;*/
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans SC', sans-serif;
}

/*TODO 迁移至notion-doc.scss*/
.notion-app .breadcrumbs{
    overflow: hidden;
}


.notion-page-icon-hero.notion-page-icon-span{
    margin-left: unset !important;
    left: calc(min(16px, 8vw));
}

.notion-full-width .notion-page-icon-hero.notion-page-icon-span{
    left: calc(min(96px, 8vw));
}