
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    /*font-size: 16px;*/
    /*min-height: 500px;*/
    /*min-width: 480px;*/
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans SC', sans-serif;
}

.notion-app .breadcrumbs{
    overflow: hidden;
}


.notion-page-icon-hero.notion-page-icon-span{
    margin-left: unset !important;
    left: 16px;
}
